# IPython autosave
.ipynb_checkpoints/
*/.ipynb_checkpoints/

.dir_bash_history
*/.dir_bash_history
desktop.ini
*/desktop.ini

.pyc
*/.pyc
*.pyc

__pycache__
*/__pycache__

/Recon3D_GP - Creating the GEM-PRO.ipynb
/Recon3D_GP - Initial Isoform Mapping.ipynb
/Recon3D_GP_archive-lite.tar.gz
/Recon3D_GP/model/2017_04_28_Recon3D.mat
